.DS_Store
npm-debug.log*
yarn-error.log
package-lock.json
# yarn.lock
.nyc_output
coverage
dist
.idea
node_modules
.vscode/settings.json
.cache
demo/build
pnpm-lock.yaml
src/*.js

# Recommendation from https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored (not using Zero-installs)
.yarn/*
!.yarn/releases
!.yarn/plugins
!/.yarn/sdks/
!/.yarn/sdks/**/lib/
!.yarn/versions
.pnp.*
